<ion-content>
  <form   class="login-section ion-padding" [formGroup] ="formEsqueceuSenha">
    <div class="heading ion-padding">
      <h1>Criar nova senha</h1>

    </div>
    <div  class="login-form ion-padding">
      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline" ></ion-icon> senha</ion-label>
          <ion-input formControlName="senha"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating"><ion-icon name="checkmark-circle-outline"></ion-icon> Confirmar Senha</ion-label>
          <ion-input formControlName="confirmarSenha"></ion-input>

        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button shape="round"  class="login-button" routerLink="/">
    Salvar

      </ion-button>

  </div>
</form>
</ion-content>

