.login-button {
  --background: rgb(40, 38, 158);
}

.action-buttons {
  text-align: center;
}

h1{
  text-align: center;
}

p{
  text-align: center;
}

.msg-erro{
  color: #ff0000;
  font-size: 15px;
  clear: both;
  position: relative;
}
