<ion-content>
  <form class="login-section ion-padding" [formGroup] ="formLogin">
    <div class="heading ion-padding">
      <h1>Bem-vindo!</h1>
      <p>Faça seu login para continuar</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon> email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon> senha</ion-label>
          <ion-input type="password" value="password" formControlName="senha"></ion-input>

        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button shape="round"  class="login-button" routerLink="/produtos">
     Entrar
     <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    <br>

    <ion-button shape="round" routerLink="/esqueceu" routerLinkActive="router-link-active"  class="senha" >Esqueceu sua senha?</ion-button>
    <ion-button shape="round" routerLink="/registro" routerLinkActive="router-link-active"  class="senha"> Cadastrar nova conta</ion-button>

  </div>
</form>
</ion-content>
