
<ion-card>
  <ion-card-content>
  <form class="login-section ion-padding"  [formGroup] ="formRegistro">
    <div class="heading ion-padding">
      <h1>Crie sua conta!</h1>
    </div>
    <div class="login-form ion-padding"></div>
      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person-outline"></ion-icon> Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
          <ng-container *ngFor="let erro of mensagens.nome">
            <span class="msg-erro"
            *ngIf="formRegistro.get('nome').hasError(erro.tipo) && (formRegistro.get('nome').dirty || formRegistro.get('nome').touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="document-text-outline"></ion-icon> CPF</ion-label>
          <ion-input formControlName="cpf"></ion-input>
          <ng-container *ngFor="let erro of mensagens.cpf">
            <span class="msg-erro"
            *ngIf="formRegistro.get('cpf').hasError(erro.tipo) && (formRegistro.get('cpf').dirty || formRegistro.get('cpf').touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon> Email</ion-label>
          <ion-input formControlName="email"></ion-input>
          <ng-container *ngFor="let erro of mensagens.email">
            <span class="msg-erro"
            *ngIf="formRegistro.get('email').hasError(erro.tipo) && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
             <ion-icon name="lock-closed-outline"></ion-icon> Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
          <ng-container *ngFor="let erro of mensagens.senha">
            <span class="msg-erro"
            *ngIf="formRegistro.get('senha').hasError(erro.tipo) && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="checkmark-circle-outline"></ion-icon> Confirmar senha</ion-label>
          <ion-input type="password" formControlName="confirmarSenha"></ion-input>
          <ng-container *ngFor="let erro of mensagens.confirmarSenha">
            <span class="msg-erro"
            *ngIf="formRegistro.get('confirmarSenha').hasError(erro.tipo) && (formRegistro.get('confirmarSenha').dirty || formRegistro.get('confirmarSenha').touched)">
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </div>
    </form>
    <div class="action-buttons ion-padding">
    <ion-button  shape="round" class="login-button" routerLink="/" routerLinkActive="router-link-active" (click)="salvarRegistro">Salvar</ion-button>
</div>
</ion-card-content>
</ion-card>
