
<ion-card>
  <ion-card-content>
  <form class="login-section ion-padding"  [formGroup] ="formRegistro">
    <div class="heading ion-padding">
      <h1>Crie sua conta!</h1>
    </div>
    <div class="login-form ion-padding"></div>
      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person-outline"></ion-icon> Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="document-text-outline"></ion-icon> CPF</ion-label>
          <ion-input formControlName="cpf"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon> Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
             <ion-icon name="lock-closed-outline"></ion-icon> Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
      </div>

      <div class="form-imput">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="checkmark-circle-outline"></ion-icon> Confirmar senha</ion-label>
          <ion-input type="password" formControlName="confirmarSenha"></ion-input>
        </ion-item>
      </div>
    </form>
    <div class="action-buttons ion-padding">
    <ion-button  shape="round" class="login-button" routerLink="/" routerLinkActive="router-link-active" (click)="salvarRegistro">Salvar</ion-button>
</div>
</ion-card-content>
</ion-card>
